{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}


<div class="timeline-container">

<div class="timeline-duck">

    <img src="{% static 'duck5.png' %}">


</div>

    <div class="timeline-line"></div>



    <!-- ITEM -->

    <div class="timeline-item left">

        <div class="timeline-card">

            <span class="year">

                2020

            </span>

            <h1>

                University Journey

            </h1>

            <p>

                Started my Computer Science journey
                and explored programming,
                UI design, and technology.

            </p>

        </div>

    </div>



    <!-- ITEM -->

    <div class="timeline-item right">

        <div class="timeline-card">

            <span class="year">

                2023

            </span>

            <h1>

                Power BI Award

            </h1>

            <p>

                Won Best Power BI Dashboard Design
                for creating an interactive
                and modern visualization project.

            </p>

        </div>

    </div>



    <!-- ITEM -->

    <div class="timeline-item left">

        <div class="timeline-card">

            <span class="year">

                Nov 2025

            </span>

            <h1>

                Absher Hackathon

            </h1>

            <p>

                Participated in Absher Hackathon
                and collaborated on solving
                real-world digital challenges.

            </p>

        </div>

    </div>



    <!-- ITEM -->

    <div class="timeline-item right">

        <div class="timeline-card">

            <span class="year">

                2026

            </span>

            <h1>

                Ejada Hackathon Winner

            </h1>

            <p>

                Won Ejada Hackathon
                with an innovative technical solution
                developed as a team.

            </p>

        </div>

    </div>



    <!-- ITEM -->

    <div class="timeline-item left">

        <div class="timeline-card">

            <span class="year">

                Apr 2026

            </span>

            <h1>

                Chipathon Finalist

            </h1>

            <p>

                Qualified for the final stage
                of Chipathon.

            </p>

        </div>

    </div>



    <!-- ITEM -->

    <div class="timeline-item right">

        <div class="timeline-card">

            <span class="year">

                May 2026

            </span>

            <h1>

                Qassim Innovation Hackathon

            </h1>

            <p>

                Participated in Qassim Innovation
                Incubator Hackathon
                and expanded collaboration experience.

            </p>

        </div>

    </div>


</div>


{% endblock %}