

           {% extends 'layouts/base.html' %}

{% load static %}


{% block content %}


<div class="contact-page">


    <!-- LEFT -->

    <div class="contact-duck">

        <img src="{% static 'duck3.png' %}">

    </div>



    <!-- RIGHT -->

    <div class="contact-info">


        <div class="contact-card">

            <h1>GitHub</h1>

             <a href="https://github.com/rawanalshmsam-hub">

                Visit

            </a>

        </div>



        <div class="contact-card">

            <h1>LinkedIn</h1>

             <a href="https://www.linkedin.com/in/rawan-alshmsan-5a0436334/">

            

                Visit

            </a>

        </div>



        <div class="contact-card">

            <h1>Email</h1>

            <a href="mailto:rawanalshmsam@gmail.com">

                Send

            </a>

        </div>


    </div>


</div>


{% endblock %}
       